<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Socket.io</h1>
    <p>press d to disconnect and c to connect again</p>
    <button id="send-distributeur">send new data</button>
    <button id="send-sugarLevel">send new sugarLevel</button>
    <p id="data">

    </p>
    <script>
        const socket = io('http://localhost:8080',{auth:{idClient:"2"}});
        socket.on('disconnect', () => {
            socket.disconnect();
        });
        socket.on('connect_error', (error) => {
            alert(error);
        });
//for testing purposes 
        const sendSugarLevel = document.getElementById('send-sugarLevel');
        sendSugarLevel.addEventListener('click', () => {
            socket.emit('sugarLevel', {
                water:0.60
            });
           
        });
        socket.on('distributeur', (data) => {
            const dataElement = document.getElementById('data');
            dataElement.innerHTML += JSON.stringify(data.codeDeverouillage);
        });

        socket.on('payment',(data)=>{
            console.log(data)
            alert("payment done")
        })

        const sendDistributeur = document.getElementById('send-distributeur');
        sendDistributeur.addEventListener('click', () => {
            socket.emit('distributeur', {
                etat: "on",
                type: "distributeur",
                position: "x: 0, y: 0, z: 0",
                idClient: 1,
                idRegion: 1,
                idAM: 1,
                codeDeverouillage: "1234",
            });
        });
        document.addEventListener('keydown', (e) => {
            if(e.target.matches('input')) return;
            if (e.key === 'c') {
                socket.connect();
            }
            if (e.key === 'd') {
                socket.disconnect();
            }
        });
    </script>
</body>

</html>